* {
	margin: 0;
	box-sizing: border-box;
}

.component {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	#renderCanvas {
		width: 100%;
		height: 100%;
	}

	.over-cam {
		bottom: 20px;
		left: 20px;
		z-index: 99;
	}

	.cam {
		height: 200px;
		display: flex;
	}

	#btn-close-cam {
		background-color: #0000;
		border: none;
		width: 40px;
		height: 40px;
		margin-top: auto;
	}

	#btn-open-cam {
		margin-top: auto;

		&:hover {
			background-color: #DDD;
		}
	}

	.over-item {
		background-color: #FFF;
		border-radius: 10px;
		border: none;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.option-list {
		top: 20px;
		left: 20px;
		z-index: 99;

		ul {
			list-style: none;
			padding: 0;

			li {
				margin-bottom: 10px;
			}
		}
	}

	#settings-menu {
		z-index: -1;
		display: none;
		width: 100%;
		height: 100%;
		background-color: #0009;
		justify-content: center;
		align-items: center;

		&.open {
			z-index: 150;
			display: flex;
		}

		.settings-form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.fps-counter {
		position: absolute;
		z-index: 120;
		bottom: 20px;
		right: 20px;
	}

}

.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.hide {
	display: none !important;
}